@using Common.Models
@using Common.Models.MES
@using MudBlazor.Utilities
@typeparam T
@inherits ChildComponentBase

@if (OrderItems != null)
{

    <h3>@Title</h3>

    <MudDropContainer T="T"
                      Items="OrderItems"
                      ItemsSelector="@((item, dropzone) => item.DropZone == dropzone)"
                      ItemDropped="ItemUpdated"
                      Class="d-flex flex-wrap flex-grow-1">

        <ChildContent>
            @if (Zones != null)
            {
                @foreach (var zone in Zones)
                {
                    <MudPaper Class="ma-4 flex-grow-1">
                        <MudList Clickable="true" Class="d-flex flex-column mud-height-full">
                            <MudListSubheader>Zone @zone</MudListSubheader>
                            <MudDropZone T="T" Identifier="@zone" Class="flex-grow-1" AllowReorder="true" />
                        </MudList>
                    </MudPaper>
                }
            }

        </ChildContent>
        <ItemRenderer>
            <MudListItem Text="@($"{@context.DisplayName}")" />
        </ItemRenderer>
    </MudDropContainer>


}



