@page "/apiPage"

<h3>ApiPage</h3>

<p>
    <input type="text"
           class="form-control form-control-sm"
    @onchange="Search" />

    @if (Address != null)
    {
        <p>
            @foreach (var address in Address.Features)
            {
            <div>@address.Properties.housenumber @address.Properties.street @address.Properties.postcode @address.Properties.city</div>
            }
        </p>
    }
</p>

<p>
    <button class="btn btn-info" @onclick="SearchNameLorraineHipseaume">search name Lorraine hipseaume</button>
    
    @if (ListNomPrenomHipseaume != null)
    {
        <p>
            @foreach (var nomPrenom in ListNomPrenomHipseaume.Take(5))
            {
                <div>@nomPrenom.Prenom @nomPrenom.Nom @nomPrenom.Sexe</div>
            }
        </p>
    }
</p>

<p>
    <button class="btn btn-info" @onclick="SearchNameLorraineIpsum">search name Lorraine ipsum</button>

    @if (ListNomPrenomIpsum != null)
    {
        <p>
            @foreach (var nomPrenom in ListNomPrenomIpsum.Take(5))
            {
                <div>@nomPrenom.Prenom @nomPrenom.Nom</div>
            }
        </p>
    }
</p>

<p>
    <button class="btn btn-info" @onclick="RunProcess">Run Process</button>
</p>