@page "/manageArticle"
@using Blazor.Pages.Components
@using Common.Models.MES

<h3>ManageArticle</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-4">
            <div class="input-group">
                @if (Articles != null)
                {
                    <select class="form-select" id="inputGroupSelect01" @onchange="SelectArticle">
                        <option></option>
                        @foreach (var article in Articles)
                        {
                            <option value="@article.Id">@article.Nom</option>
                        }
                    </select>
                }
                <button class="btn btn-info" type="button" @onclick="AddNewArticle">+</button>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                @if (Gammes != null)
                {
                    <select class="form-select" id="inputGroupSelect02" @onchange="SelectGamme">
                        <option></option>
                        @foreach (var gamme in Gammes)
                        {
                            <option value="@gamme.Id">@gamme.Nom</option>
                        }
                    </select>
                }
                <button class="btn btn-info" type="button" @onclick="AddNewGamme">+</button>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                @if (Gammes != null && Gamme.Etapes != null)
                {
                    <button class="btn btn-info" type="button" @onclick="AddNewStep">Ajouter une étape</button>
                }
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-4">

            @if (Article != null)
            {
                <CascadingValue Value="Article">
                    <_ArticleComponent OnChildChange="@(()=> ReloadFullArticle(Article.Id))"></_ArticleComponent>
                </CascadingValue>
            }

        </div>


        @if (Article.EstFabrique && !string.IsNullOrWhiteSpace(Article.Id))
        {
            <div class="col-4">
                <CascadingValue Value="Gamme">
                    <_GammeOfArticleComponent OnChildChange="@(()=> ReloadFullArticle(Article.Id))"></_GammeOfArticleComponent>
                </CascadingValue>
            </div>

            @if (Gamme.Etapes != null)
            {
                <div class="col-4">
                    <CascadingValue Value="Gamme.Etapes">
                        <DragAndDropComponent T="Etape"
                                              Title="@($"Etapes de la gamme")"
                                              Zones="_zones"
                                              OnChildChange="@(Do)"
                                              WithEditOption="true"
                                              OnClickDelete="Delete"
                                              OnClickEdit="Edit"
                                              @ref="_dragAndDropContainer">
                        </DragAndDropComponent>
                    </CascadingValue>
                </div>

                <button class="btn btn-warning" @onclick="GoProduction">Création OF</button>
            }

        }
    </div>

</div>