@page "/manageArticle"

<h3>ManageArticle</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-6" style="margin: 10px">
            <div class="input-group">
                @if (Articles != null)
                {
                    <select class="form-select" id="inputGroupSelect01" @onchange="SelectArticle">
                        <option></option>
                        @foreach (var article in Articles)
                        {
                            <option value="@article.Id">@article.Nom</option>
                        }
                    </select>
                }
                <button class="btn btn-info" type="button" @onclick="AddNewArticle">+</button>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-4" style="border : 3px grey solid; padding : 15px">
            <EditForm Model="Article" OnValidSubmit="SubmitArticle">
                <div class="@_statusClass">@_statusMessage</div>

                <DataAnnotationsValidator />

                <div class="row">
                    <p>
                        <div class="form-group col-12">
                            <label for="nom"><b>Nom de l'article: </b></label>
                            <InputText Id="nom" Class="form-control" @bind-Value="@Article.Nom"></InputText>
                            <ValidationMessage For="@(() => Article.Nom)" />
                        </div>
                    </p>

                    <br />

                    <p>
                        <div class="form-group col-12">
                            <div class="form-group">
                                <label for="fabrique"><b>Fabriqué: </b></label>
                                <InputCheckbox Id="fabrique" Class="form-check" @bind-Value="@Article.EstFabrique"></InputCheckbox>
                                <ValidationMessage For="@(() => Article.EstFabrique)" />
                            </div>
                        </div>
                    </p>

                    <br />

                    <p>
                        <div class="form-group col-12">
                            <div class="form-group">
                                <label for="stock"><b>Stock: </b></label>
                                <InputNumber Id="stock" Class="form-control" @bind-Value="@Article.Stock"></InputNumber>
                                <ValidationMessage For="@(() => Article.EstFabrique)" />
                            </div>
                        </div>
                    </p>

                    <br />

                    <p>
                        <div class="form-group col-12">
                            <div class="form-group">
                                <label for="isDisabled"><b>Désactiver: </b></label>
                                <InputCheckbox Id="isDisabled" Class="form-check" @bind-Value="@Article.IsDisabled"></InputCheckbox>
                                <ValidationMessage For="@(() => Article.IsDisabled)" />
                            </div>
                        </div>
                    </p>

                </div>

                <br />
                <button class="btn btn-info" type="submit">Ok</button>
                <button class="btn btn-danger" @onclick="Cancel">Cancel</button>
            </EditForm>
        </div>

        @if (Article.EstFabrique && !string.IsNullOrWhiteSpace(Article.Id))
        {
            <div class="col-4" style="border : 3px grey solid; padding : 15px">

                <label for="inputGroupSelect02"><b>Liste des gammes possible de l'article: </b></label>
                <div class="input-group">
                    @if (Gammes != null)
                    {
                        <select class="form-select" id="inputGroupSelect02" @onchange="SelectGamme">
                            <option></option>
                            @foreach (var gamme in Gammes)
                            {
                                <option value="@gamme.Id">@gamme.Nom</option>
                            }
                        </select>
                    }
                    <button class="btn btn-info" type="button" @onclick="AddNewGamme">+</button>
                </div>

                <br />
                <EditForm Model="Gamme" OnValidSubmit="SubmitGamme">
                    <div class="@_statusClass">@_statusMessage</div>

                    <DataAnnotationsValidator />

                    <div class="row">
                        <p>
                            <div class="form-group col-12">
                                <label for="nom"><b>Nom de la gamme: </b></label>
                                <InputText Id="nom" Class="form-control" @bind-Value="@Gamme.Nom"></InputText>
                                <ValidationMessage For="@(() => Gamme.Nom)" />
                            </div>
                        </p>

                        <br />

                    </div>

                    <br />
                    <button class="btn btn-info" type="submit">Ok</button>
                    <button class="btn btn-danger" @onclick="Cancel">Cancel</button>
                </EditForm>

            </div>

            @if (Gamme.Etapes != null)
            {
                <div class="col-4" style="border : 3px grey solid; padding : 15px">
                    @foreach (var etape in Gamme.Etapes)
                    {
                        <div>@etape.Nom</div>
                    }
                </div>
            }
        }
    </div>

</div>