@page "/productionEnCours/"
@page "/productionEnCours/{OfId}"

<h3>Production</h3>


@if (OfList != null)
{
    <h4>Ordre de fabrication en cours</h4>

    <div class="col-1 justify-content-center flex-row" style="margin: 10px">
        <label class="form-check-label" for="toggle"><b>Voir tous les ofs</b></label>
        <div class="form-check form-switch" style="margin-top: 10px; padding-left: 0px">
            <input class="form-check-input" type="checkbox" id="toggle" style="margin: auto; vertical-align: center" checked="@AllOfs" @onchange="Reload">
        </div>
    </div>



    <select class="form-select" id="inputGroupSelect01" @onchange="LoadOf">

        @if (string.IsNullOrWhiteSpace(OfId))
        {
            <option selected="selected"></option>
        }
        else
        {
            <option></option>
        }

        @foreach (var of in OfList)
        {
            if (of.Id == OfId)
            {
                <option value="@of.Id" selected="selected">@of.Number / @of.ArticleFabrique.Nom / @of.Gamme.Nom</option>
            }
            else
            {
                <option value="@of.Id">@of.Number / @of.ArticleFabrique.Nom / @of.Gamme.Nom</option>
            }
        }
    </select>
    <br />
}


@if (OrdreFabrication != null && OrdreFabrication.Gamme != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h2>OF n° @OrdreFabrication.Number</h2>
                <br/>
                @if (DisplayOfEnded)
                {
                    <h3 style="color: red">OF terminé</h3>
                }

                @foreach (var step in OrdreFabrication.Gamme.Etapes.OrderBy(v => v.NumeroEtape))
                {
                    @if (EtapeToDisplay != null && step.Id == EtapeToDisplay.Id)
                    {
                        <button class="btn btn-@(OrdreFabrication.EtapesExecuted.Select(v => v.Id).Contains(step.Id) && OrdreFabrication.EtapesExecuted.FirstOrDefault(v => v.Id == step.Id).End != default ? "danger" : "info")" style="border: 5px yellow solid;" @onclick="(() => DisplayStep(step))">@step.Nom</button>
                    }
                    else
                    {
                        <button class="btn btn-@(OrdreFabrication.EtapesExecuted.Select(v => v.Id).Contains(step.Id) && OrdreFabrication.EtapesExecuted.FirstOrDefault(v => v.Id == step.Id).End != default? "danger" : "info")" @onclick="(() => DisplayStep(step))">@step.Nom</button>
                    }
                }
                <br/>
                <div>@OrdreFabrication.Gamme.Commentaire</div>
            </div>
            <div class="col-8">
                @if (EtapeToDisplay != null)
                {
                    @if (DisplayStartButton)
                    {
                        <button class="btn btn-danger" @onclick="() => StartStep(EtapeToDisplay)">Start Step</button>
                    }

                    <br />
                    <div><strong>N° d'étape :</strong> @EtapeToDisplay.NumeroEtape</div>
                    <div><strong>Nom de l'étape :</strong> @EtapeToDisplay.Nom</div>

                    <br />
                    <div>
                        <div><h5>Articles à consommer</h5></div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Article Id</th>
                                    <th>Quantité à consommer</th>
                                    <th>Réellement consommé</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var article in EtapeToDisplay.ArticlesConsommes)
                                {
                                    <tr>
                                        <td>@article.ArticleNom</td>
                                        <td>@article.ArticleId</td>
                                        <td>@article.QuantityToUse</td>
                                        <td><input type="number" @bind="article.QuantityUsed" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    @if (DisplayEndButton)
                    {
                        <button class="btn btn-danger" @onclick="() => EndStep(EtapeToDisplay)">End Step</button>
                    }

                }
            </div>
        </div>
    </div>
}